* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: 'Inknut Antiqua', serif;
    line-height: 2;
    

    background-image: 
        url(img/ChatGPT\ Image\ 18\ de\ mai.\ de\ 2025\,\ 07_15_01.png);   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color:#fff
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); /* ajuste aqui a transparência e cor */
  z-index: 0;
}

#hero-grimorio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  width: 80vw;
  height: 80vh;
}

.pagina {
  padding: 1.5rem;
  overflow: auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > * {
  position: relative;
  z-index: 1;
}

#um{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
}
ul{
  list-style: none;
}

button {
  border: none;
  font-family: 'Inknut Antiqua', serif;
  color: white;
  background: none;
  cursor: pointer;
  position: absolute;
}

#fechar, #voltar{   
  bottom:0;
  right:0;
}

#novo-feitico{
  bottom:0;
  left:0;
}

#proxima-pagina{
  bottom:0;
  right:10px
}

a{
  text-decoration: none;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
}

#form-linha{
  display: flex;
  align-items: center;
  font-size: small;
}

#form-linha label, select, input{
  flex:1
}

input[type=text], select{
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.0;
  font-size: smaller;
  color:#6B512E
}

.botao-form{
  position:static;
  color: #6B512E;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  margin:5px auto 0;
  padding: 0px 5px;
}

.resultado-pesquisa{
  border: white solid 1px;
  border-radius: 5px;
  position: relative;
  flex-grow: 1;
  margin: 10px;
}

#ritualistica{
  background: transparent;
  border: #fff 1px solid;
  border-radius: 5px;
  margin: 5px;
}

.label-centralizado{
  display: block;
  text-align: center;
}

